﻿@model ZTP_BAZY.Models.UserCredentials

@{
    ViewData["Title"] = "Dodawanie użytkownika";
}
    <head>
        <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
    </head>
<h1 class="header">Stwórz nowego użytkownika</h1>

<div>
    <h4>Użytkownik</h4>
    <hr />
    <div class="row">
        <div class="col-md-4 center">
            <form asp-action="CreateUser">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="User.Name" class="control-label"></label>
                    <input asp-for="User.Name" class="form-control" />
                    <span asp-validation-for="User.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Credentials.Password" class="control-label"></label>
                    <input asp-for="Credentials.Password" class="form-control" />
                    <span asp-validation-for="Credentials.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Roleid" class="control-label"></label>
                    <select asp-for="User.Roleid" class="form-control" asp-items="ViewBag.Roleid"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Utwórz" class="btn button" />
                    <a class="btn button" asp-action="UserList">Powrót</a>
                </div>
            </form>
            <label class="text-danger">@ViewData["Error"]</label>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}