﻿@model ZTP_BAZY.Models.User

@{
    ViewData["Title"] = "Usuń użytkownika";
}
<head>
    <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
</head>
<h1 class="header">Usuwanie</h1>

<h3>Czy na pewno chcesz usunąć?</h3>
<div class="center">
    <h4>Użytkownik</h4>
    <hr />
    <dl class="row">
        <dt class="">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Creationdate)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Creationdate)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Role.Rolename)
        </dd>
    </dl>

    <form asp-action="DeleteUser">
        <input type="hidden" asp-for="Userid" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a class="btn button" asp-action="UserList">Wróć do listy</a>
    </form>
</div>