﻿@model ZTP_BAZY.Models.User

@{
    ViewData["Title"] = "Edytuj użytkownika";
}
<head>
    <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
</head>
<h1 class="header"> Edytuj dane użytkownika</h1>

<h4>Użytkownik</h4>
<hr />
<div class="row">
    <div class="col-md-4 center">
        <form asp-action="EditUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Userid" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div><label class="control-label"><b>@Model.Name</b></label></div>
            </div>
            
            <div class="form-group">
                <label asp-for="Roleid" class="control-label"></label>
                <select asp-for="Roleid" class="form-control" asp-items="ViewBag.Roleid"></select>
                <span asp-validation-for="Roleid" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Zapisz zmiany" class="btn button" />
                <a class="btn button" asp-action="UserList">Powrót</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
