﻿@model ZTP_BAZY.Models.UserCredentials

@{
    ViewData["Title"] = "Zmień hasło";
}
<head>
    <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
</head>
<h1 class="header">Zmień hasło użytkownika</h1>

<h4>Użytkownik</h4>
<hr />
<div>
    <div class="row">
        <div class="center">
            <form asp-action="EditPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="User.Userid" />
                <input type="hidden" asp-for="User.Name" />
                <div class="form-group">
                    <label asp-for="User.Name" class="control-label"></label>
                    <div><label class="control-label"><b>@Model.User.Name</b></label></div>
                </div>

                <div class="form-group">
                    <label class="control-label" style="padding-bottom: 10px">Nowe Hasło</label>
                    <input asp-for="Credentials.Password" class="form-control" />
                    <span asp-validation-for="Credentials.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Zmień hasło" class="btn button" />
                    <a class="btn button" asp-action="UserList">Powrót</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
