﻿@model PaginatedList<ZTP_BAZY.Models.User>

@{
    ViewData["Title"] = "Zarządzanie użytkownikami";
}
<head>
        <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
</head>
<body>
    <h1 class="header">Zarządzanie użytkownikami</h1>
    <form asp-action="UserList" method="get">
        <div class="form-actions no-color">
            <p style="padding-left: 175px; padding-bottom: 20px">
                Wyszukaj: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Szukaj" class="btn button" /> |
                <a class="btn button" asp-action="UserList">Cofnij</a>
                <a class="btn button" asp-action="CreateUser">Dodaj nowego użytkownika</a>
            </p>
        </div>
    </form>
    @if (Model.Count > 0)
    {
        <table class="table table-striped table-bordered" style="margin-left: 10%; margin-right: 10%; width: 80%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Role)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Creationdate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role.Rolename)

                        </td>
                        <td align="justify">
                            @Html.DisplayFor(modelItem => item.Creationdate)
                        </td>
                        <td align="center">                              
                                <a asp-action="EditUser" asp-route-id="@item.Userid">Edytuj</a> |
                                <a asp-action="UserDetails" asp-route-id="@item.Userid">Szczegóły</a> |
                                <a asp-action="DeleteUser" asp-route-id="@item.Userid">Usuń</a> |
                                <a asp-action="EditPassword" asp-route-id="@item.Userid">Zmień hasło</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1 class="text-danger">Brak użytkowników</h1>
    }
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="UserList"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled" style="margin-left: 175px">
        Poprzednia strona
    </a>
    <a asp-action="UserList"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Następna strona
    </a>
</body>