﻿@model ZTP_BAZY.Models.User

@{
    ViewData["Title"] = "Szczegóły użytkownika";
}
<head>
    <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
</head>
<h1 class="header">Dane szczegółowe</h1>

<div class="center">
    <div>
        <h4>Użytkownik</h4>
        <hr />
        <dl class="row">
            <dt class="">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Creationdate)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Creationdate)
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Role)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Role.Rolename)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn button" asp-action="EditUser" asp-route-id="@Model.Userid">Edytuj użytkownika</a> |
        <a class="btn button" asp-action="UserList">Wróć do listy</a>
    </div>
</div>
