﻿<!DOCTYPE html>

<html lang="pl">

<head>
    <title>Nasz Magazyn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- css -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/lightbox.css">
    <link rel="stylesheet" href="~/css/font-awesome.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/font-awesome.css" type="text/css" media="all" />

    <!--// css -->
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="~/js/jquery-1.11.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
   
   
</head>

<body>
    <div id="holder">
        <div class="nav-links">
            <nav class="navbar navbar-inverse navbar-expand-xl">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" asp-action="Index"><h1>Nasz Magazyn</h1></a>
                    </div>
                    <div class="collapse navbar-collapse  " id="myNavbar">
                        <ul class="nav navbar-nav link-effect">
                            @if (Context.User.IsInRole("Administrator"))
                            {
                                <li class="nav-item">
                                    <a style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                                </li>
                            }
                            @if (Context.User.IsInRole("Administrator") || Context.User.IsInRole("pracownik magazynu"))
                            {
                                <li class="nav-item">
                                    <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Products" asp-action="Index">Produkty</a>
                                </li>

                                <li class="nav-item">
                                    <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Shops" asp-action="Index">Lista Sklepów</a>
                                </li>
                                <li class="nav-item">
                                    <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Suppliers" asp-action="Index">Lista Dostawców</a>
                                </li>

                                <li class="nav-item">
                                    <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Shipments" asp-action="Index">Lista zamówień</a>
                                </li>
                                <li class="nav-item">
                                    <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Deliveries" asp-action="Index">Dostawy</a>
                                </li>
                            }
                            @if (Context.User.IsInRole("sklep"))
                            {
                                <li class="nav-item">
                                    <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Orders" asp-action="Index">Przeglądaj zamówienia</a>
                                </li>
                                @if (Context.Request.Cookies["shop"] == null)
                                {
                                    <li class="nav-item">
                                        <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="ShopOrders" asp-action="Index">Nowe zamówienie</a>
                                    </li>

                                }
                                else
                                {

                                    <li class="nav-item">
                                        <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="ShopOrders" asp-action="Index">Kontynuuj zamówienie</a>
                                    </li>

                                }
                            }
                            @if (Context.User.Identity.IsAuthenticated == true)
                            {
                                <li class="nav-item">
                                    <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Home" asp-action="Logout">Wyloguj @Context.User.Identity.Name</a>

                                </li>

                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="" asp-area="" asp-controller="Home" asp-action="Login">Zaloguj</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!--@* <div class="nav-links">
            <nav class="navbar navbar-inverse">
                <div class="container" style="wi">
                    <div class="navbar-header">
                        <a class="navbar-brand"><h1>Nasz Magazyn</h1></a>
                    </div>
                    <div class="navbar-collapse collapse" id="myNavbar">
                        <ul class="nav navbar-nav link-effect">

                            @if (Context.User.IsInRole("Administrator"))
                            {
                                <li class="nav-item">
                                    <a style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                                </li>
                            }
                            @if (Context.User.IsInRole("Administrator") || Context.User.IsInRole("pracownik magazynu"))
                            {
                                <li class="nav-item">
                                    <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Products" asp-action="Index">Produkty</a>
                                </li>

                                <li class="nav-item">
                                    <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Shops" asp-action="Index">Lista Sklepów</a>
                                </li>
                                <li class="nav-item">
                                    <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Suppliers" asp-action="Index">Lista Dostawców</a>
                                </li>

                                <li class="nav-item">
                                    <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Shipments" asp-action="Index">Lista zamówień</a>
                                </li>
                                <li class="nav-item">
                                    <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Deliveries" asp-action="Index">Dostawy</a>
                                </li>
                            }
                            @if (Context.User.IsInRole("sklep"))
                            {
                                <li class="nav-item">
                                    <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Orders" asp-action="Index">Przeglądaj zamówienia</a>
                                </li>
                                @if (Context.Request.Cookies["shop"] == null)
                                {
                                    <li class="nav-item">
                                        <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="ShopOrders" asp-action="Index">Nowe zamówienie</a>
                                    </li>

                                }
                                else
                                {

                                    <li class="nav-item">
                                        <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="ShopOrders" asp-action="Index">Kontynuuj zamówienie</a>
                                    </li>

                                }
                            }
                            @if (Context.User.Identity.IsAuthenticated == true)
                            {
                                <li class="nav-item">
                                    <a class="" style="padding: 30px 8px 30px 8px;" asp-area="" asp-controller="Home" asp-action="Logout">Wyloguj @Context.User.Identity.Name</a>

                                </li>

                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="" asp-area="" asp-controller="Home" asp-action="Login">Zaloguj</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </nav>
        </div>  *@-->

        <div style="

        width: 100%;
        /*min-height: 80%;*/">
            <main role="main" class="pb-lg-1">
                @RenderBody()
            </main>
        </div>

        <div class="spacer"></div>

        @RenderSection("Scripts", required: false)

        <footer>
            <div class="footer">
                <div class="container">
                    <p>&copy; 2020 System zarządzania magazynem</p>
                </div>
            </div>
        </footer>
    </div>
    @*<footer class="container-fluid text-center align-bottom" style="background: #B0C4DE;">
        <div class="container">
        <p>&copy; 2020 System zarządzania magazynem</p>
        </div>
        </footer>*@
    <style>
        #holder {
            min-height: 100%;
            position: relative;
        }
    </style>
   
</body>

</html>
