﻿@model ZTP_BAZY.Models.Supplier

@{
    ViewData["Title"] = "Usuwanie";
}
    <head>
        <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
    </head>
<h1 class="header">Usuwanie</h1>

<h3>Czy napewno chcesz usunąć dostawce?</h3>
<div>
    <h4>Dostawca</h4>
    <p class="text-danger">@ViewData["error"]</p>
    <hr />
    <dl class="row center">
        <dt class="">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Zipcode)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Mailaddress)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Mailaddress)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Website)
        </dd>
    </dl>

    <form asp-action="Delete" class="center">
        <input type="hidden" asp-for="Supplierid" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a class="btn button"asp-action="Index">Wróć</a>
    </form>
</div>
