﻿@model PaginatedList<ZTP_BAZY.Models.Product>

@{
    ViewData["Title"] = "Dodaj produkt";
}
<head>
    <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
</head>
<h1 class="header">Dostępne produkty</h1>

<div class="center">
    <form asp-action="AddProduct" method="get">
        <div class="form-actions no-color">
            <p style="padding-bottom: 20px">
                Wyszukaj: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Szukaj" class="btn button" /> |
                <a  class="btn button" asp-action="AddProduct">Cofnij</a>
            </p>
        </div>
    </form>
    @if (Model.Count > 0)
    {
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Productid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Productid)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            <form method="post" asp-action="AddProduct" asp-route-id="@item.Productid">
                                <button class="btn btn-secondary" type="submit">Wybierz</button>
                            </form>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1 class="text-danger">Brak produktów</h1>
    }
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="AddProduct"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Poprzednia strona
    </a>
    <a asp-action="AddProduct"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Następna strona
    </a>
</div>
