﻿@model Order

@{
    ViewData["Title"] = "Złożono zamówienie";
}
<head>
    <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
</head>
<h1 class="header">Zamówienie złożone pomyślnie</h1>
<h4>Szczegóły:</h4>
<hr />
<div class="center">
    <dl class="row">

        <dt class="">
            @Html.DisplayNameFor(model => model.Orderid)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Orderid)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Creationdate)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Creationdate)
        </dd>
    </dl>
</div>

