﻿@model List<Productdelivery>

@{
    ViewData["Title"] = "Szczegóły dostawy";
}
<head>
    <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
</head>
<h1 class="header">Szczegóły</h1>
<div>
    <h4>Dostawa</h4>
    <hr />
    <dl class="row center">
        <dt class="">
            @Html.DisplayNameFor(model => model[0].Delivery.Deliveryid)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model[0].Delivery.Deliveryid)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model[0].Delivery.Deliverydate)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model[0].Delivery.Deliverydate)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model[0].Delivery.Supplier.Name)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model[0].Delivery.Supplier.Name)
        </dd>
        <dt class="">
            Adres
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model[0].Delivery.Supplier.Street) @Html.DisplayFor(model => model[0].Delivery.Supplier.Number), @Html.DisplayFor(model => model[0].Delivery.Supplier.City)
        </dd>
    </dl>
    <hr />
</div>
<h2 class="header">Produkty:</h2>
<table class="table table-striped table-bordered center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Product.Productid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Count)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Productid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="center">
    <a class="btn button" asp-action="Index">Wróć do listy</a>
</div>