﻿@model PaginatedList<ZTP_BAZY.Models.Delivery>

@{
    ViewData["Title"] = "Lista dostaw";
}
<head>
    <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
</head>
<h1 class="header">Dostawy</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p style="margin-left: 175px; padding-bottom: 20px">
            Wyszukaj po ID: <input type="number" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Szukaj" class="btn button"/> |
            <a class="btn button" asp-action="Index">Cofnij</a>
            @if (Context.Request.Cookies["supplier"] == null)
            {
                <a class="btn button" asp-action="NewDelivery">Wprowadź dostawę</a>
            }
            else
            {
                <a class="btn button" asp-action="NewDelivery">Kontynuuj wprowadzanie dostawy</a>
            }
        </p>
    </div>
</form>
@if (Model.Count > 0)
{
    <table class="table table-striped table-bordered" style="margin-left: 10%; margin-right: 10%; width: 80%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Deliveryid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Deliverydate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Supplier.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Supplier.Phonenumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Supplier.Mailaddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Supplier.Website)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deliveryid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deliverydate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.Phonenumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.Mailaddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.Website)
                    </td>
                    <td align="center">
                        
                        <a asp-action="Details" asp-route-id="@item.Deliveryid">Szczegóły</a> 
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 class="text-danger">Brak dostaw</h1>
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled" style="margin-left: 175px">
    Poprzednia strona
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Następna strona
</a>

