﻿@model IEnumerable<ProductWithCount>
@{
    ViewData["Title"] = "Nowa dostawa";
}
<head>
    <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
</head>
<h3 class="header">Dostawa od:</h3>
<h5>@Html.Raw(ViewData["supplierName"])</h5>
<hr />

<div class="center">
    <h5 style="float:left">Produkty:</h5>

    <br style="clear:both" />
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Productid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Productid)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>

                    <td>
                        <a class="btn btn-secondary" asp-action="Add" asp-route-id="@item.Product.Productid">+</a>
                        @Html.DisplayFor(modelItem => item.Count)

                        <a class="btn btn-secondary" asp-action="Sub" asp-route-id="@item.Product.Productid">-</a>
                        <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.Product.Productid">Usuń</a>
                    </td>


                </tr>
            }
        </tbody>
    </table>
    <p class="text-danger" style="padding-bottom: 20px">
        @ViewData["error"]
    </p>
    <div style="margin-left: 25%; margin-right: 25%; width: 50%">
        <form method="post" asp-action="NewDeliveryProducts" style="float:left">
            <Button class="btn button" type="submit">Potwierdź</Button>
        </form>
        <a class="btn button" asp-action="AddProduct" style="float:left; margin-left: 10px; margin-right: 10px">Dodaj</a>
        <form method="post" asp-action="Clear" style="float:left">
            <Button class="btn button" type="submit">Anuluj</Button>
        </form>
    </div>
    <br style="clear:both" />
</div>