﻿@model PaginatedList<ZTP_BAZY.Models.Supplier>


    @{
        ViewData["Title"] = "Wybierz dostawce";
    }
    <head>
        <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
    </head>
    <h1 class="header">Od kogo pochodzi dostawa?</h1>
    <form asp-action="NewDelivery" method="get">
        <div class="form-actions no-color">
            <p style="margin-left: 175px; padding-bottom: 20px">
                Wyszukaj: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Szukaj" class="btn button" /> |
                <a class="btn button" asp-action="NewDelivery">Cofnij</a>
            </p>
        </div>
    </form>
    @if (Model.Count > 0)
    {
        <table class="table table-striped table-bordered" style="margin-left: 10%; margin-right: 10%; width: 80%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Supplierid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Street)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Zipcode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Phonenumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Mailaddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Website)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Supplierid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Street)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Zipcode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phonenumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mailaddress)
                        </td> 
                        <td>
                            @Html.DisplayFor(modelItem => item.Website)
                        </td>
                        <td>
                            <a asp-action="NewDeliveryProducts" asp-route-id="@item.Supplierid">Wybierz</a>


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1 class="text-danger">Brak sklepów w bazie</h1>
    }
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="NewDelivery"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled" style="margin-left: 175px;">
        Poprzednia strona
    </a>
    <a asp-action="NewDelivery"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Następna strona
    </a>


