﻿@{
    ViewData["Title"] = "Dostawa dodana pomyślnie";
}
<head>
    <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
</head>
<h1 class="header">Dostawa dodana pomyślnie!</h1>
<hr />

<a class="btn button center" asp-action="Index">Powrót</a>
