@model ZTP_BAZY.Models.OrderDetails

@{
    ViewData["Title"] = "Szczegóły sklepu";
}
    <head>
        <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
    </head>
<h1 class="header">Szczegóły</h1>
<div>
    <h4>Zamówienie</h4>
    <hr />
    <dl class="row center">
        <dt class="">
            @Html.DisplayNameFor(model => model.Order.Orderid)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Order.Orderid)
        </dd>
        
        <dt class="">
            @Html.DisplayNameFor(model => model.Order.Statusid)
        </dt>
        <dd class="">
            @(((Dictionary<int, string>)ViewBag.statuses)[(int)Model.Order.Statusid])
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Order.Description)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Order.Description)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Order.Creationdate)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Order.Creationdate)
        </dd>
    </dl>
    <hr />
</div>

<h2 class="header">Produkty:</h2>
<table class="table table-striped table-bordered center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductsList[0].Productid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsList[0].Count)
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Products.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => model.ProductsList[i].Productid)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ProductsList[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Products[i].Count)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ProductsList[i].Count)
                </td>

            </tr>
        }
    </tbody>
</table>
<br /> <br />
<h2 class="header">Historia:</h2>
<table class="table table-striped table-bordered center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.history[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.history[0].Status.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.history[0].Changedate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.history)
        {
            <tr>
                <td>
                    @(((Dictionary<int, string>)ViewBag.statuses)[(int)item.Statusid])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Changedate)
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="center">
    <a class="btn button" asp-action="Edit" asp-route-id="@Model.Order.Orderid">Edytuj</a> | 
    <a class="btn button" asp-action="Index">Wróć do listy</a>
</div>
<div class="spacer" />
