@model ZTP_BAZY.Models.Order

@{
    ViewData["Title"] = "Edytuj status";
}
    <head>
        <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
    </head>
<h1 class="header">Szczegóły</h1>
<div>
    <h4>Zamówienie</h4>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <dl class="row center">
            <dt class="">
                @Html.DisplayNameFor(model => model.Orderid)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Orderid)
                <input type="hidden" asp-for="Orderid" />
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Statusid)
            </dt>
            <dd class="">
                <select id="Statuses" asp-for="Statusid" name="StatusId" asp-items="@(new SelectList(@ViewBag.statuses,"Statusid", "Name"))">
                    <option value="0">Zmień status</option>
                </select>
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="">
                <div class="form-group">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </dd>
            <dt class="">
                @Html.DisplayNameFor(model => model.Creationdate)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Creationdate)
                <input type="hidden" asp-for="Creationdate" />
            </dd>
            <input type="hidden" asp-for="Shopid" />
            <input type="hidden" asp-for="Priority" />
        </dl>
        <div class="form-group center">
            <input type="submit" value="Zapisz" class="btn button" />
            <a  class="btn button" asp-action="Index">Wróć do listy</a>
        </div>
    </form>
</div>
<p class="text-danger">
    @ViewData["error"]
</p>
