@model PaginatedList<ZTP_BAZY.Models.OrderWithShop>

@{
    ViewData["Title"] = "Zamówienia";
}
<head>
    <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
</head>
<h1 class="header">Lista zamówień</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p style="margin-left: 175px; padding-bottom: 20px">
            Wyszukaj: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Szukaj" class="btn button" /> |
            <a class="btn button" asp-action="Index">Cofnij</a>
        </p>
    </div>
</form>

@if (Model.Count > 0)
{
    <table class="table table-striped table-bordered" style="margin-left: 10%; margin-right: 10%; width: 80%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Orderid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Creationdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].ShopName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].ShopAdress)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Orderid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creationdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShopName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShopAdress)
                    </td>
                    <td align="center">
                        <a asp-action="Edit" asp-route-id="@item.Orderid">Edytuj</a> |
                        <a asp-action="Details" asp-route-id="@item.Orderid">Szczegóły</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 class="text-danger">Brak sklepów w bazie</h1>
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-default @prevDisabled" style="margin-left: 175px">
    Poprzednia strona
</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-default @nextDisabled">
    Następna strona
</a>

