﻿@model ZTP_BAZY.Models.Shop

@{
    ViewData["Title"] = "Usuń sklep";
}
    <head>
        <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
    </head>
<h1 class="header">Usuń</h1>

<h3>Czy na pewno chcesz usunąć?</h3>
<div>
    <h4>Sklep</h4>
    <p class="text-danger">@ViewData["error"]</p>
    <hr />
    <dl class="row center">
        <dt class="">
            @Html.DisplayNameFor(model => model.Shopname)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Shopname)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Zipcode)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Mailaddress)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Mailaddress)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>

    <form asp-action="Delete" class="center">
        <input type="hidden" asp-for="Shopid" />
        <input type="submit" value="Usuń" class="btn button" /> |
        <a class="btn button" asp-action="Index">Powrót do listy</a>
    </form>
</div>
