﻿@model ZTP_BAZY.Models.Shop

@{
    ViewData["Title"] = "Szczegóły sklepu";
}
    <head>
        <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
    </head>
<h1 class="header">Szczegóły</h1>

<div>
    <h4>Sklep</h4>
    <hr />
    <dl class="row center">
        <dt class = "">
            @Html.DisplayNameFor(model => model.Shopname)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.Shopname)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.Zipcode)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.Mailaddress)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.Mailaddress)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
</div>
<div class="center">
    <a class="btn button" asp-action="Edit" asp-route-id="@Model.Shopid">Edytuj</a> |
    <a class="btn button" asp-action="Index">Wróć do listy</a>
</div>
