﻿@{
    ViewData["Title"] = "Strona główna";
    
}


    
        <!-- /navigation -->
        <!-- banner-->
        <div class="banner-agile">
            <div class="banner-text-agileinfo">
                <h2>Nasz Magazyn!</h2>
                <p>Nowoczesne rozwiązania zarządzania magazynem. Wysokiej jakości oprogramowanie stworzone dzięki wspólnemu wysiłkowi naszych ekspertów.</p>
            </div>
        </div>
        <!-- /banner-->
        <!--about -->
        <div class="about-agileits" id="about">
            <div class="container">
                <h3>O Nas</h3>
                <label class="line"></label>
                <p class="top-p">Zachęcamy do zapoznania się z ofertą naszej firmy</p>
            </div>
            <div class="col-md-6 about-left">
            </div>
            <div class="col-md-6 about-right">
                <h4>Nasz Magazyn - Twój partner w biznesie</h4>
                <p>Nowoczesne rozwiązania zarządzania magazynem. Wysokiej jakości oprogramowanie stworzone dzięki wspólnemu wysiłkowi naszych ekspertów.</p>
                <p class="sec-p">Osiągnij wymarzoną produktywność w biznesie, nasze systemy zarządzania pozwolą na zwrot inwestycji juz w kilka miesięcy.</p>
                <a href="#" data-toggle="modal" data-target="#myModal">Dowiedz się więcej</a>
            </div>
            <div class="clearfix"></div>
        </div>
     
        <!-- start-smooth-scrolling -->
        <script type="text/javascript" src="js/move-top.js"></script>
        <script type="text/javascript" src="js/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                });
            });
        </script>
      
   
    <div style="padding: 50px"></div>
   
  