﻿@{
    ViewData["Title"] = "Logged";

}

<head>
    <link rel="stylesheet" href="~/css/logged.css" type="text/css" media="all" />
</head>
<body>
    <div class="background">
        <h1 class="user">Zalogowany jako @Context.User.Identity.Name</h1>
    </div>
</body>