﻿@model UserCredentials;

@{
    ViewData["Title"] = "Logowanie";
}

<head>
    <link rel="stylesheet" href="~/css/login.css" type="text/css" media="all"/>
</head>
<body>
    
    <div class="background" style="margin-bottom:10px;">
        <div>          
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" asp-action="Login" class="login" method="post">
                <h1>Zaloguj się</h1>
                <div asp-validation-summary="ModelOnly" class=""></div>
                <div class="">
                    <label asp-for="User.Name" style="padding-bottom: 6px"></label>
                    <input asp-for="User.Name" class="" />
                    <span asp-validation-for="User.Name" class="text-danger"></span>
                </div>
                <div class="">
                    <label asp-for="Credentials.Password" style="padding-bottom: 6px"></label>
                    <input asp-for="Credentials.Password" class="" />
                    <span asp-validation-for="Credentials.Password" class="text-danger"></span>
                </div>
                <p class="text-danger">@ViewData["error"]</p>
                <div class="">
                    <input type="submit" value="Zaloguj" style="padding-top: 15px; margin-top: 5px; font-weight: bold"/>
                </div>
            </form>
        </div>
    </div>

  

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>