@model PaginatedList<ZTP_BAZY.Models.Shop>

@{
    ViewData["Title"] = "Sklepy";
}
    <head>
        <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
    </head>
<h1 class="header">Wybierz sklep, którego listę zamówień chcesz wyświetlić</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p style="padding-left: 175px; padding-bottom: 20px">
            Wyszukaj: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Szukaj" class="btn button" /> |
            <a class="btn button" asp-action="Index">Cofnij</a>
        </p>
    </div>
</form>
@if (Model.Count > 0)
{
    <table class="table table-striped table-bordered" style="margin-left: 10%; margin-right: 10%; width: 80%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Shopname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Zipcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Phonenumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Mailaddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Url)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shopname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zipcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phonenumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mailaddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td >
                        <a asp-action="List" asp-route-id="@item.Shopid">Wybierz</a>
                        

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 class="text-danger" style="padding-bottom: 20px">Brak sklepów w bazie</h1>
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled" style="margin-left: 175px;">
    Poprzednia strona
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Następna strona
</a>
