@model IEnumerable<ZTP_BAZY.Models.Order>
@using System.Collections.Generic
@{
    ViewData["Title"] = "Zamówienia";
    
}
    <head>
        <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
    </head>
<h1 class="header">Lista zamówień dla</h1>
<h4 class="header">@ViewData["shopName"]</h4>


<table class="table table-striped table-bordered center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orderid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statusid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creationdate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Orderid)
                </td>
                <td>
                   @(((Dictionary<int, string>)ViewBag.statuses)[(int)item.Statusid])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creationdate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Orderid">Szczegóły</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="center">
    <a class="btn button" asp-action="Index">Cofnij</a>
</div>
