﻿body {

    background-image: linear-gradient(to bottom,#ffff 10%,#213950) !important;
}

.background {
    width: 100%;
    background: url(../images/Industry.jpg) no-repeat 0px -150px;
    background-size: cover;
    min-height: 650px;
    padding-top: 100px;
}

.user {
    padding: 150px;
    background: rgb(33, 57, 80, 0.8);
    color: #ffff;
}