﻿body 
{

}

.header
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.button 
{
    background: #213950;
    color: #fff;
}

.button:hover 
{
    background: #fff;
    color: #213950;
}

.spacer 
{
    padding: 50px;
}

.center 
{
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    text-align: center;
}