﻿@model ZTP_BAZY.Models.Product

@{
    ViewData["Title"] = "Usuń produkt";
}
    <head>
        <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
    </head>
<h1 class="header">Usuń produkt</h1>

<h3>Czy na pewno chcesz usunąc?</h3>
<p class="text-danger center m-1">@ViewData["error"]</p>
<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="row center">
        <dt class="">
            @Html.DisplayNameFor(model => model.Productid)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Productid)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Name)
        </dd>


    </dl>
    
    <form asp-action="Delete" class="center">
        <input type="hidden" asp-for="Productid" />
        <input type="submit" value="Usuń" class="btn button" /> |
        <a class="btn button" asp-action="Index">Powrót do listy</a>
    </form>
</div>
