﻿@model ZTP_BAZY.Models.Product

@{
    ViewData["Title"] = "Szczegóły produktu";
}
    <head>
        <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
    </head>
<h1 class="header">Szczegóły</h1>

<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="row center">
        <dt class="">
            @Html.DisplayNameFor(model => model.Productid)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Productid)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Count)
        </dd>

        @if (Model.Demand > Model.Count)
        {
            <dt class="">
                @Html.DisplayNameFor(model => model.Demand)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Demand)
            </dd>
        }
        else
        {
            <dt class="">
                @Html.DisplayNameFor(model => model.Demand)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Demand)
            </dd>
        }

        <dt class="">
            @Html.DisplayNameFor(model => model.Lastdeliverydate)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Lastdeliverydate)
        </dd>
    </dl>
</div>
<div class="center">
    <a class="btn button" asp-action="Edit" asp-route-id="@Model.Productid">Edytuj</a> 
    <a class="btn button" asp-action="Index">Wróć do listy</a>
</div>
