﻿@model PaginatedList<ZTP_BAZY.Models.Product>

@{
    ViewData["Title"] = "Produkty";
}
<head>
    <link rel="stylesheet" href="~/css/pageHeader.css" type="text/css" media="all" />
</head>
<h1 class="header">Lista produktów</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p style="padding-left: 175px; padding-bottom: 20px">
            Wyszukaj: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Szukaj" class="btn button"/> |
            <a class="btn button" asp-action="Index">Cofnij</a>
            <a class="btn button" asp-action="Create">Dodaj produkt</a>
        </p>
    </div>
</form>
@if (Model.Count > 0)
{
<table class="table table-striped table-bordered" style="margin-left: 10%; margin-right: 10%; width: 80%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Productid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Demand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Lastdeliverydate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Productid)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                @if (item.Count < item.Demand)
                {
                    <td class="bg-danger">
                        @Html.DisplayFor(modelItem => item.Demand)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Demand)
                    </td>

                }

                <td>
                    @Html.DisplayFor(modelItem => item.Lastdeliverydate)
                </td>
                <td align="center">
                    <a asp-action="Edit" asp-route-id="@item.Productid">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Productid">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Productid">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <h1 class="text-danger">Brak produktów</h1>
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled" style="margin-left: 175px">
    Poprzednia strona
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Następna strona
</a>

